<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Monacoin : Japanese cryptcurrency" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">

    <title>Monacoin</title>

  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a id="official_banner" href="http://monacoin.org">Go to Monacoin Project</a>

        <h1 id="project_title">Monacoin</h1>
        <h2 id="project_tagline">Japanese cryptcurrency</h2>
    <div>
    <script src="http://widget.monash.pw/coin.js"></script>
<script>
CoinWidgetCom.go({
	/* このアドレスは必ずあなたのアドレスに置き換えてください */
	wallet_address: "MQY1eFCC2Mxa3sRyME5mNFUWc4wyWxJjtx"
	, currency: "monacoin"
	, counter: "count"
	, alignment: "bl"
	, qrcode: true
	, auto_show: false
	, lbl_button: "寄付する"
	, lbl_address: "このアドレスにMonacoinを寄付する:"
	, lbl_count: "回の寄付"
	, lbl_amount: "MONA"
	});
</script>

      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	{{ content }}
      </setion>
    </div>


<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p>Author: keystore00</p>
    <p>E-mail: keystore00(at)gmail.com</p>
    <p><a href="https://twitter.com/keystore00">Twitter</a> <a  href="https://github.com/keystore00">GitHub</a></p>
    <p>Donate <a href="monacoin:MQY1eFCC2Mxa3sRyME5mNFUWc4wyWxJjtx">MONA</a>:MQY1eFCC2Mxa3sRyME5mNFUWc4wyWxJjtx</p>
  </footer>
</div>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-47602876-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>


</body>
</html>
